In [1]:
import pyspark
from pyspark.sql import SparkSession

spark = SparkSession.builder \
            .master("local[*]") \
            .appName("test") \
            .getOrCreate()

22/03/09 20:03:48 WARN Utils: Your hostname, FONG-DEV-NUC resolves to a loopback address: 127.0.1.1; using 192.168.129.125 instead (on interface eth0)
22/03/09 20:03:48 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
WARNING: An illegal reflective access operation has occurred
WARNING: Illegal reflective access by org.apache.spark.unsafe.Platform (file:/home/fongt/spark/spark-3.0.3-bin-hadoop3.2/jars/spark-unsafe_2.12-3.0.3.jar) to constructor java.nio.DirectByteBuffer(long,int)
WARNING: Please consider reporting this to the maintainers of org.apache.spark.unsafe.Platform
WARNING: Use --illegal-access=warn to enable warnings of further illegal reflective access operations
WARNING: All illegal access operations will be denied in a future release
22/03/09 20:03:59 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
Using Spark's default log4j profile: org/apache/spark/log4j-defaults.properties
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

In [2]:
df_green = spark.read.parquet("data/pq/green/*/*")

In [4]:
df_green.printSchema()

root
 |-- VendorID: integer (nullable = true)
 |-- lpep_pickup_datetime: timestamp (nullable = true)
 |-- lpep_dropoff_datetime: timestamp (nullable = true)
 |-- store_and_fwd_flag: string (nullable = true)
 |-- RatecodeID: integer (nullable = true)
 |-- PULocationID: integer (nullable = true)
 |-- DOLocationID: integer (nullable = true)
 |-- passenger_count: integer (nullable = true)
 |-- trip_distance: double (nullable = true)
 |-- fare_amount: double (nullable = true)
 |-- extra: double (nullable = true)
 |-- mta_tax: double (nullable = true)
 |-- tip_amount: double (nullable = true)
 |-- tolls_amount: double (nullable = true)
 |-- ehail_fee: double (nullable = true)
 |-- improvement_surcharge: double (nullable = true)
 |-- total_amount: double (nullable = true)
 |-- payment_type: integer (nullable = true)
 |-- trip_type: integer (nullable = true)
 |-- congestion_surcharge: double (nullable = true)

In [5]:
df_yellow = spark.read.parquet("data/pq/yellow/*/*")

In [6]:
df_yellow.show()

+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+
|VendorID|tpep_pickup_datetime|tpep_dropoff_datetime|passenger_count|trip_distance|RatecodeID|store_and_fwd_flag|PULocationID|DOLocationID|payment_type|fare_amount|extra|mta_tax|tip_amount|tolls_amount|improvement_surcharge|total_amount|congestion_surcharge|
+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+
|       2| 2020-01-25 17:29:48|  2020-01-25 17:36:07|              1|         1.07|         1|                 N|         211|          79|           1|        6.0|  0.0|    0.5|      1.86|         0.0|                  0.3|       11.16|                 2.5|
|       1| 2020-01-07 23:33:47|  2020-01-07 23:38:42|              1|          1.6|         1|                 N|         143|         246|           1|        6.5|  3.0|    0.5|       0.0|         0.0|                  0.3|        10.3|                 2.5|
|       1| 2020-01-18 21:52:49|  2020-01-18 22:11:59|              1|          3.4|         1|                 N|         249|         246|           1|       14.5|  3.0|    0.5|      3.65|         0.0|                  0.3|       21.95|                 2.5|
|       2| 2020-01-16 11:39:46|  2020-01-16 11:53:18|              1|         1.63|         1|                 N|         163|         140|           1|       10.0|  0.0|    0.5|      2.66|         0.0|                  0.3|       15.96|                 2.5|
|       1| 2020-01-10 10:49:33|  2020-01-10 11:01:21|              1|          1.0|         1|                 N|         186|         170|           1|        8.5|  2.5|    0.5|      2.35|         0.0|                  0.3|       14.15|                 2.5|
|       2| 2020-01-12 21:52:34|  2020-01-12 21:54:18|              1|         0.58|         1|                 N|          79|          79|           1|        3.5|  0.5|    0.5|       1.7|         0.0|                  0.3|         9.0|                 2.5|
|       2| 2020-01-31 08:37:57|  2020-01-31 08:49:00|              1|         1.64|         1|                 N|         162|         137|           1|        9.0|  0.0|    0.5|      2.46|         0.0|                  0.3|       14.76|                 2.5|
|       2| 2020-01-31 16:41:18|  2020-01-31 16:50:46|              2|         1.17|         1|                 N|          48|         143|           1|        7.5|  1.0|    0.5|      1.18|         0.0|                  0.3|       14.93|                 2.5|
|       2| 2020-01-07 05:31:11|  2020-01-07 05:33:16|              1|         0.81|         1|                 N|         237|         229|           1|        4.5|  0.5|    0.5|      1.66|         0.0|                  0.3|        9.96|                 2.5|
|       1| 2020-01-12 16:02:17|  2020-01-12 16:07:37|              1|          0.9|         1|                 N|         144|         113|           1|        6.0|  2.5|    0.5|       1.4|         0.0|                  0.3|        10.7|                 2.5|
|       2| 2020-01-13 22:06:30|  2020-01-13 22:20:51|              1|         6.29|         1|                 N|         138|         145|           1|       19.5|  0.5|    0.5|      4.16|         0.0|                  0.3|       24.96|                 0.0|
|       1| 2020-01-20 17:50:06|  2020-01-20 18:06:52|              1|          2.5|         1|                 N|         148|         170|           1|       13.0|  2.5|    0.5|      3.25|         0.0|                  0.3|       19.55|                 2.5|
|       2| 2020-01-24 17:35:37|  2020-01-24 17:40:55|              1|         0.51|         1|                 N|         249|         249|           2|        4.0|  1.0|    0.5|       0.0|         0.0|                  0.3|         8.3|                 2.5|
|       2| 2020-01-11 20:12:06|  2020-01-11 20:21:56|              1|          2.7|         1|                 N|         236|         142|           1|       10.5|  0.5|    0.5|      1.75|         0.0|                  0.3|       16.05|                 2.5|
|       2| 2020-01-28 12:52:56|  2020-01-28 13:00:13|              1|         0.99|         1|                 N|         162|         163|           1|        6.5|  0.0|    0.5|      1.96|         0.0|                  0.3|       11.76|                 2.5|
|       2| 2020-01-16 14:09:54|  2020-01-16 14:23:32|              1|          2.2|         1|                 N|         229|         236|           1|       11.0|  0.0|    0.5|       1.0|         0.0|                  0.3|        15.3|                 2.5|
|       2| 2020-01-22 12:09:33|  2020-01-22 12:18:53|              1|         1.38|         1|                 N|         262|         236|           2|        7.5|  0.0|    0.5|       0.0|         0.0|                  0.3|        10.8|                 2.5|
|       1| 2020-01-27 09:41:03|  2020-01-27 10:08:10|              1|          3.1|         1|                 N|         142|         107|           1|       17.5|  2.5|    0.5|       2.2|         0.0|                  0.3|        23.0|                 2.5|
|       2| 2020-01-24 10:25:57|  2020-01-24 10:53:25|              1|        16.94|         3|                 N|          68|           1|           1|       62.5|  0.0|    0.0|     16.51|       19.75|                  0.3|       99.06|                 0.0|
|       2| 2020-01-06 17:50:06|  2020-01-06 18:08:15|              5|         3.07|         1|                 N|         249|          87|           1|       14.0|  1.0|    0.5|      3.66|         0.0|                  0.3|       21.96|                 2.5|
+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+
only showing top 20 rows

In [7]:
df_yellow.printSchema()

root
 |-- VendorID: integer (nullable = true)
 |-- tpep_pickup_datetime: timestamp (nullable = true)
 |-- tpep_dropoff_datetime: timestamp (nullable = true)
 |-- passenger_count: integer (nullable = true)
 |-- trip_distance: double (nullable = true)
 |-- RatecodeID: integer (nullable = true)
 |-- store_and_fwd_flag: string (nullable = true)
 |-- PULocationID: integer (nullable = true)
 |-- DOLocationID: integer (nullable = true)
 |-- payment_type: integer (nullable = true)
 |-- fare_amount: double (nullable = true)
 |-- extra: double (nullable = true)
 |-- mta_tax: double (nullable = true)
 |-- tip_amount: double (nullable = true)
 |-- tolls_amount: double (nullable = true)
 |-- improvement_surcharge: double (nullable = true)
 |-- total_amount: double (nullable = true)
 |-- congestion_surcharge: double (nullable = true)

In [8]:
df_green.columns

['VendorID',
 'lpep_pickup_datetime',
 'lpep_dropoff_datetime',
 'store_and_fwd_flag',
 'RatecodeID',
 'PULocationID',
 'DOLocationID',
 'passenger_count',
 'trip_distance',
 'fare_amount',
 'extra',
 'mta_tax',
 'tip_amount',
 'tolls_amount',
 'ehail_fee',
 'improvement_surcharge',
 'total_amount',
 'payment_type',
 'trip_type',
 'congestion_surcharge']

In [9]:
df_yellow.columns

['VendorID',
 'tpep_pickup_datetime',
 'tpep_dropoff_datetime',
 'passenger_count',
 'trip_distance',
 'RatecodeID',
 'store_and_fwd_flag',
 'PULocationID',
 'DOLocationID',
 'payment_type',
 'fare_amount',
 'extra',
 'mta_tax',
 'tip_amount',
 'tolls_amount',
 'improvement_surcharge',
 'total_amount',
 'congestion_surcharge']

In [10]:
set(df_green.columns) & set(df_yellow.columns)

{'DOLocationID',
 'PULocationID',
 'RatecodeID',
 'VendorID',
 'congestion_surcharge',
 'extra',
 'fare_amount',
 'improvement_surcharge',
 'mta_tax',
 'passenger_count',
 'payment_type',
 'store_and_fwd_flag',
 'tip_amount',
 'tolls_amount',
 'total_amount',
 'trip_distance'}

In [12]:
df_green = df_green \
    .withColumnRenamed("lpep_pickup_datetime", "pickup_datetime") \
    .withColumnRenamed("lpep_dropoff_datetime", "dropoff_datetime")

In [13]:
df_yellow = df_yellow \
    .withColumnRenamed("tpep_pickup_datetime", "pickup_datetime") \
    .withColumnRenamed("tpep_dropoff_datetime", "dropoff_datetime")

In [14]:
set(df_green.columns) & set(df_yellow.columns)

{'DOLocationID',
 'PULocationID',
 'RatecodeID',
 'VendorID',
 'congestion_surcharge',
 'dropoff_datetime',
 'extra',
 'fare_amount',
 'improvement_surcharge',
 'mta_tax',
 'passenger_count',
 'payment_type',
 'pickup_datetime',
 'store_and_fwd_flag',
 'tip_amount',
 'tolls_amount',
 'total_amount',
 'trip_distance'}

In [15]:
common_columns = []

yellow_columns = set(df_yellow.columns)

for col in df_green.columns:
    if col in yellow_columns:
        common_columns.append(col)

In [16]:
common_columns

['VendorID',
 'pickup_datetime',
 'dropoff_datetime',
 'store_and_fwd_flag',
 'RatecodeID',
 'PULocationID',
 'DOLocationID',
 'passenger_count',
 'trip_distance',
 'fare_amount',
 'extra',
 'mta_tax',
 'tip_amount',
 'tolls_amount',
 'improvement_surcharge',
 'total_amount',
 'payment_type',
 'congestion_surcharge']

In [20]:
from pyspark.sql import functions as F

In [22]:
df_green_sel = df_green \
    .select(common_columns) \
    .withColumn("service_type", F.lit("green"))

In [23]:
df_yellow_sel = df_yellow \
    .select(common_columns) \
    .withColumn("service_type", F.lit("yellow"))

In [24]:
df_trips_data = df_green_sel.unionAll(df_yellow_sel)

In [26]:
df_trips_data.groupBy("service_type").count().show()

+------------+--------+
|service_type|   count|
+------------+--------+
|       green| 2304517|
|      yellow|39649199|
+------------+--------+

In [27]:
df_trips_data.registerTempTable("df_trips_data")

In [32]:
spark.sql("""
    SELECT
        service_type,
        count(1) AS count
    FROM df_trips_data
    GROUP BY service_type;
""").show()

+------------+--------+
|service_type|   count|
+------------+--------+
|       green| 2304517|
|      yellow|39649199|
+------------+--------+

In [44]:
df_result = spark.sql("""
    SELECT
        -- Revenue grouping
        PULocationID AS revenue_zone,
        date_trunc('month',pickup_datetime) AS revenue_month,
        service_type,

        -- Revenue calculation
        SUM(fare_amount) AS revenue_monthly_fare,
        SUM(extra) AS revenue_monthly_extra,
        SUM(mta_tax) AS revenue_monthly_mta_tax,
        SUM(tip_amount) AS revenue_monthly_tip_amount,
        SUM(tolls_amount) AS revenue_monthly_tolls_amount,
        SUM(improvement_surcharge) AS revenue_monthly_improvement_surcharge,
        SUM(total_amount) AS revenue_monthly_total_amount,
        SUM(congestion_surcharge) AS revenue_monthly_congestion_surcharge,

        -- Additional calculations
        AVG(passenger_count) AS avg_monthly_passenger_count,
        AVG(trip_distance) AS avg_monthly_trip_distance
    FROM
        df_trips_data
    GROUP BY
        revenue_zone, revenue_month, service_type
""")

In [45]:
df_result.show()

+------------+-------------------+------------+--------------------+---------------------+-----------------------+--------------------------+----------------------------+-------------------------------------+----------------------------+------------------------------------+---------------------------+-------------------------+
|revenue_zone|      revenue_month|service_type|revenue_monthly_fare|revenue_monthly_extra|revenue_monthly_mta_tax|revenue_monthly_tip_amount|revenue_monthly_tolls_amount|revenue_monthly_improvement_surcharge|revenue_monthly_total_amount|revenue_monthly_congestion_surcharge|avg_monthly_passenger_count|avg_monthly_trip_distance|
+------------+-------------------+------------+--------------------+---------------------+-----------------------+--------------------------+----------------------------+-------------------------------------+----------------------------+------------------------------------+---------------------------+-------------------------+
|         196|2020-01-01 00:00:00|       green|   55130.42999999982|               2233.0|                 1325.0|        1941.0699999999997|           811.5400000000003|                    1011.599999999938|           62713.79000000242|                               258.5|         1.4023121387283237|        3.538930419781482|
|         184|2020-01-01 00:00:00|       green|              606.67|                31.25|                    7.0|                      9.76|          27.759999999999998|                   7.1999999999999975|           689.6399999999999|                                 0.0|                        1.8|                  6.70625|
|         231|2020-02-01 00:00:00|       green|   7730.470000000004|                589.5|                   13.5|                       0.0|           237.6500000000001|                    63.89999999999975|           8635.019999999995|                                 0.0|                        1.0|        9.673380281690134|
|         263|2020-02-01 00:00:00|       green|  6202.0899999999965|                446.0|                   99.5|        307.01000000000005|          219.75000000000009|                    96.89999999999944|           7640.500000000012|                              280.25|         1.4705882352941178|        4.208990825688074|
|         100|2020-02-01 00:00:00|       green|  1632.9200000000003|               129.25|                    2.0|                       0.0|          112.44000000000001|                   13.800000000000011|          1890.4099999999999|                                null|                       null|        10.92695652173913|
|         189|2020-10-01 00:00:00|       green|   4452.259999999998|                22.75|                   30.5|                    572.92|                        63.0|                   62.999999999999915|           5234.680000000004|                                22.0|         1.1515151515151516|        3.789671361502349|
|         209|2020-10-01 00:00:00|       green|              472.24|                  0.0|                    0.0|                      38.5|          14.530000000000001|                    4.199999999999999|                      529.47|                                null|                       null|        7.251428571428571|
|         126|2021-06-01 00:00:00|       green|  3310.5199999999986|                207.1|                   24.5|                     14.25|          176.89000000000004|                   38.999999999999986|           3775.010000000003|                                 0.0|                      1.375|       428.22423076923064|
|         158|2021-06-01 00:00:00|       green|               17.01|                 2.75|                    0.0|                       0.0|                        6.55|                                  0.3|                       26.61|                                null|                       null|                     5.92|
|         107|2021-05-01 00:00:00|       green|             1461.35|                119.6|                    0.0|                       0.0|                        90.6|                   13.199999999999996|                     1684.75|                                null|                       null|        8.183409090909093|
|         149|2021-07-01 00:00:00|       green|   2392.370000000001|                213.1|                    3.0|                      3.14|                        70.4|                   24.600000000000023|                     2706.61|                                 0.0|         1.1666666666666667|        6.998658536585367|
|         202|2021-07-01 00:00:00|       green|              975.22|                 62.5|                    5.0|                      5.07|                       32.75|                    9.299999999999997|                     1100.84|                                11.0|                        1.0|        6.483225806451613|
|         265|2021-04-01 00:00:00|       green|             6262.61|                136.5|                   40.0|         60.32000000000001|           328.1700000000001|                    40.50000000000006|           6868.100000000008|                                 0.0|         1.2555555555555555|        13.66414814814815|
|         143|2021-04-01 00:00:00|       green|   684.1800000000001|                 59.1|                    0.0|                       0.0|                        26.2|                    6.299999999999999|                      775.78|                                null|                       null|        8.008095238095237|
|         168|2020-12-01 00:00:00|       green|  10477.439999999999|                 24.5|                   51.0|         966.8199999999999|          412.33000000000015|                   128.39999999999952|          12085.240000000013|                               13.75|         1.1666666666666667|        5.168979591836732|
|         111|2020-12-01 00:00:00|       green|   57.67999999999999|                  0.0|                    0.0|                      2.75|                         0.0|                                  0.6|                       61.03|                                null|                       null|        7.199999999999999|
|          37|2020-08-01 00:00:00|       green|   8985.549999999996|                11.75|                   22.0|         687.1700000000001|          240.12000000000006|                    94.49999999999982|                    10049.34|                                 5.5|         1.0377358490566038|        6.041936507936505|
|         143|2021-01-01 00:00:00|       green|   620.3399999999999|                 27.5|                    0.0|                      27.5|                       36.72|                    5.999999999999998|                      718.06|                                null|                       null|                   8.0835|
|         242|2020-07-01 00:00:00|       green|  14354.950000000044|                  9.0|                   51.0|                   1389.47|          457.19000000000017|                   180.59999999999974|          16448.909999999993|                                 0.0|         0.9901960784313726|       232.92855721393047|
|          82|2020-06-01 00:00:00|       green|  13111.980000000003|                171.0|                  236.0|         862.7400000000005|           576.8500000000004|                   231.00000000000304|          15313.219999999916|                               90.75|         1.2188755020080322|        4.685244215938302|
+------------+-------------------+------------+--------------------+---------------------+-----------------------+--------------------------+----------------------------+-------------------------------------+----------------------------+------------------------------------+---------------------------+-------------------------+
only showing top 20 rows

In [47]:
df_result.coalesce(1).write.parquet("data/report/revenue/", mode="overwrite")

In [ ]:
!ls