In [1]:
import pyspark
from pyspark.sql import SparkSession

spark = SparkSession.builder \
            .master("local[*]") \
            .appName("test") \
            .getOrCreate()

22/03/10 13:38:23 WARN Utils: Your hostname, FONG-DEV-NUC resolves to a loopback address: 127.0.1.1; using 192.168.131.139 instead (on interface eth0)
22/03/10 13:38:23 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
WARNING: An illegal reflective access operation has occurred
WARNING: Illegal reflective access by org.apache.spark.unsafe.Platform (file:/home/fongt/spark/spark-3.0.3-bin-hadoop3.2/jars/spark-unsafe_2.12-3.0.3.jar) to constructor java.nio.DirectByteBuffer(long,int)
WARNING: Please consider reporting this to the maintainers of org.apache.spark.unsafe.Platform
WARNING: Use --illegal-access=warn to enable warnings of further illegal reflective access operations
WARNING: All illegal access operations will be denied in a future release
22/03/10 13:38:33 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
Using Spark's default log4j profile: org/apache/spark/log4j-defaults.properties
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

In [2]:
df_green = spark.read.parquet("data/pq/green/*/*/")

In [3]:
df_green.registerTempTable("green")

In [13]:
df_green_revenue = spark.sql("""
    SELECT
        -- Revenue grouping
        DATE_TRUNC('HOUR', lpep_pickup_datetime) AS hour,
        PULocationID AS zone,
        
        -- Revenue calculation
        SUM(total_amount) AS amount,
        COUNT(1) as number_records
        
    FROM
        green
    WHERE
        lpep_pickup_datetime >= '2020-01-01 00:00:00'
    GROUP BY
        1, 2
""")

In [11]:
df_green_revenue.show()

+-------------------+----+------------------+--------------+
|               hour|zone|            amount|number_records|
+-------------------+----+------------------+--------------+
|2020-01-01 00:00:00|   7| 769.7299999999997|            45|
|2020-01-01 00:00:00|  17|195.03000000000003|             9|
|2020-01-01 00:00:00|  18|               7.8|             1|
|2020-01-01 00:00:00|  22|              15.8|             1|
|2020-01-01 00:00:00|  24|              87.6|             3|
|2020-01-01 00:00:00|  25|             531.0|            26|
|2020-01-01 00:00:00|  29|              61.3|             1|
|2020-01-01 00:00:00|  32| 68.94999999999999|             2|
|2020-01-01 00:00:00|  33|317.27000000000004|            11|
|2020-01-01 00:00:00|  35|            129.96|             5|
|2020-01-01 00:00:00|  36|            295.34|            11|
|2020-01-01 00:00:00|  37|            175.67|             6|
|2020-01-01 00:00:00|  38| 98.78999999999999|             2|
|2020-01-01 00:00:00|  40|168.98000000000002|             8|
|2020-01-01 00:00:00|  41|1363.9599999999984|            84|
|2020-01-01 00:00:00|  42| 799.7599999999998|            52|
|2020-01-01 00:00:00|  43|            107.52|             6|
|2020-01-01 00:00:00|  47|              13.3|             1|
|2020-01-01 00:00:00|  49|            266.76|            14|
|2020-01-01 00:00:00|  51|              17.8|             2|
+-------------------+----+------------------+--------------+
only showing top 20 rows

In [14]:
df_green_revenue.write.parquet("data/report/revenue/green", mode="overwrite")

22/03/10 14:00:48 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 95.00% for 8 writers
22/03/10 14:00:48 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 84.44% for 9 writers
22/03/10 14:00:48 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 95.00% for 8 writers

In [15]:
df_yellow = spark.read.parquet("data/pq/yellow/*/*/")

In [16]:
df_yellow.registerTempTable("yellow")

In [17]:
df_yellow_revenue = spark.sql("""
    SELECT
        -- Revenue grouping
        DATE_TRUNC('HOUR', tpep_pickup_datetime) AS hour,
        PULocationID AS zone,
        
        -- Revenue calculation
        SUM(total_amount) AS amount,
        COUNT(1) as number_records
        
    FROM
        yellow
    WHERE
        tpep_pickup_datetime >= '2020-01-01 00:00:00'
    GROUP BY
        1, 2
""")

In [18]:
df_yellow_revenue.show()

+-------------------+----+------------------+--------------+
|               hour|zone|            amount|number_records|
+-------------------+----+------------------+--------------+
|2020-01-24 20:00:00| 162| 9186.120000000014|           544|
|2020-01-21 08:00:00| 151| 2447.379999999999|           157|
|2020-01-24 18:00:00| 170|10212.670000000024|           571|
|2020-01-17 11:00:00| 170| 6049.720000000008|           381|
|2020-01-26 22:00:00| 238|1104.9700000000003|            71|
|2020-01-03 19:00:00| 229| 4173.519999999997|           268|
|2020-01-14 18:00:00| 164| 7510.170000000009|           404|
|2020-01-03 23:00:00| 230| 9403.150000000023|           526|
|2020-01-10 11:00:00|  13| 2626.669999999999|           111|
|2020-01-15 10:00:00| 239| 4393.809999999999|           304|
|2020-01-31 09:00:00| 237| 8993.930000000022|           603|
|2020-01-08 20:00:00| 107| 5676.150000000003|           355|
|2020-01-26 16:00:00|  50|           1566.42|            94|
|2020-01-27 08:00:00| 262|6055.5000000000055|           326|
|2020-01-16 19:00:00| 132|25545.189999999988|           453|
|2020-01-15 17:00:00| 141|           4703.52|           311|
|2020-01-22 08:00:00| 230|3858.2699999999986|           206|
|2020-01-03 18:00:00|  48| 4748.399999999998|           304|
|2020-01-25 16:00:00| 263| 2554.699999999998|           197|
|2020-01-15 08:00:00| 230| 7000.820000000003|           295|
+-------------------+----+------------------+--------------+
only showing top 20 rows

In [19]:
df_yellow_revenue.write.parquet("data/report/revenue/yellow", mode="overwrite")

22/03/10 14:03:20 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 95.00% for 8 writers
22/03/10 14:03:20 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 84.44% for 9 writers
22/03/10 14:03:20 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 76.00% for 10 writers
22/03/10 14:03:20 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 69.09% for 11 writers
22/03/10 14:03:20 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 63.33% for 12 writers
22/03/10 14:03:20 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 69.09% for 11 writers
22/03/10 14:03:20 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 76.00% for 10 writers
22/03/10 14:03:20 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 84.44% for 9 writers
22/03/10 14:03:20 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 95.00% for 8 writers
22/03/10 14:03:21 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 95.00% for 8 writers

In [22]:
df_green_revenue_tmp = df_green_revenue \
    .withColumnRenamed("amount", "green_amount") \
    .withColumnRenamed("number_records", "green_number_records")

df_yellow_revenue_tmp = df_yellow_revenue \
    .withColumnRenamed("amount", "yellow_amount") \
    .withColumnRenamed("number_records", "yellow_number_records")

In [23]:
df_join = df_green_revenue_tmp.join(df_yellow_revenue_tmp, on=["hour", "zone"], how="outer")

In [24]:
df_join.show()

+-------------------+----+------------------+--------------------+------------------+---------------------+
|               hour|zone|      green_amount|green_number_records|     yellow_amount|yellow_number_records|
+-------------------+----+------------------+--------------------+------------------+---------------------+
|2020-01-01 00:00:00| 258|              45.3|                   1|              null|                 null|
|2020-01-01 01:00:00|  70|              18.6|                   2|              21.3|                    1|
|2020-01-01 02:00:00| 153|              null|                null|              42.8|                    1|
|2020-01-01 02:00:00| 181| 695.3799999999998|                  25|1512.0899999999997|                   67|
|2020-01-01 05:00:00| 224|              null|                null| 93.55000000000001|                    4|
|2020-01-01 10:00:00|  68|              null|                null| 1690.699999999999|                   92|
|2020-01-01 11:00:00| 100|              null|                null|1643.0699999999988|                  109|
|2020-01-01 11:00:00| 155|              null|                null|             27.97|                    1|
|2020-01-01 15:00:00| 234|              null|                null| 3418.319999999998|                  224|
|2020-01-01 16:00:00| 219|              null|                null|             73.67|                    1|
|2020-01-01 18:00:00|   7|301.44000000000017|                  23|              83.6|                    7|
|2020-01-01 20:00:00| 194|              null|                null|             65.42|                    1|
|2020-01-01 21:00:00|   7| 179.1200000000001|                  16|103.21000000000001|                   10|
|2020-01-01 21:00:00| 169|              null|                null|             21.57|                    1|
|2020-01-01 21:00:00| 246|              null|                null| 881.5900000000003|                   52|
|2020-01-01 22:00:00|  42|257.02000000000004|                  12|            138.01|                    6|
|2020-01-02 01:00:00| 161|              null|                null|            275.52|                   20|
|2020-01-02 04:00:00|  69|              33.7|                   3|              null|                 null|
|2020-01-02 04:00:00|  89|             81.11|                   2|             30.11|                    1|
|2020-01-02 05:00:00|  74|             58.86|                   5|            224.47|                   15|
+-------------------+----+------------------+--------------------+------------------+---------------------+
only showing top 20 rows

In [25]:
df_join.write.parquet("data/report/revenue/total")

22/03/10 14:39:46 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 95.00% for 8 writers
22/03/10 14:39:46 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 84.44% for 9 writers
22/03/10 14:39:46 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 76.00% for 10 writers
22/03/10 14:39:46 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 69.09% for 11 writers
22/03/10 14:39:46 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 63.33% for 12 writers
22/03/10 14:39:47 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 69.09% for 11 writers
22/03/10 14:39:47 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 76.00% for 10 writers
22/03/10 14:39:47 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 84.44% for 9 writers
22/03/10 14:39:47 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 95.00% for 8 writers
22/03/10 14:39:47 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 95.00% for 8 writers
22/03/10 14:39:47 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 84.44% for 9 writers
22/03/10 14:39:47 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 76.00% for 10 writers
22/03/10 14:39:47 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 84.44% for 9 writers
22/03/10 14:39:47 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 95.00% for 8 writers
22/03/10 14:39:47 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 84.44% for 9 writers
22/03/10 14:39:47 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 95.00% for 8 writers